html, body {
    margin: auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    image-rendering: pixelated;
    background-image: url('titlescreen.png');
    background-repeat: no-repeat;
    background-size:cover;
}

.screen {
    text-align: center;
}

h1 {
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-image: linear-gradient(pink, purple);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
    text-align: center;
    justify-content: right;
    align-items:center;
    position: absolute;
    left: 80%;
    top: 90%;
    transform: translate(-50%, -50%);
}

button:hover {
    background-image: linear-gradient(red, purple);;
}
