html, body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    width:flex;
}

.screen {
    text-align: center;
}

h1 {
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items:center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button:hover {
    background-color: #00008B;
}
